@media  (max-width: 1200px) {
    #secOne {
        display: grid;
        grid-template-areas:
        "aside" 
        "article" 
        "article2" 
        "article3"
        "article4"
        "article5";
        width: 100%;
        height: auto;
        padding: 0px 5px;
        margin: 60px 0px;
        border-top: 2px solid gray;
    }

    #lista {
        grid-area: aside;
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        border-left: 0px;
        border-bottom: 2px solid blue;
        margin: 0 auto;
        background-color: rgb(243, 238, 238);
        text-align: center;
    }

    .unid {
        font-size: 16px;
        width: 100%;
        color: black;
        font-family: var(--fontThree);
        text-decoration: none;
        padding: 0px;
    }
    
    #artOne {
        grid-area: article;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }

    #artTwo {
        grid-area: article2;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto;
    }

    #artThree {
        grid-area: article3;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto;
    }

    #artFour {
        grid-area: article4;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto;
    }

    #artFive {
        grid-area: article5;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto 0 auto ;
    }


}

@media  (max-width: 900px) {
    #navegação_header {
        margin-top: -1000px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        width: 100%;
        transition: .2s;
        z-index: 1;
        background-color: #eff3f3; 
    }

    .linkHeader {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid black;
    }

    #btnMenu {
        display: block;
    }

    #secOne {
        display: grid;
        grid-template-areas:
        "aside"
        "article" 
        "article2" 
        "article3"
        "article4"
        "article5";
        width: 100%;
        height: auto;
        padding: 0px 5px;
        margin: 60px 0px;
        border-top: 2px solid gray;
    }
    
    #lista {
        grid-area: aside;
        display: flex;
        flex-direction: row;
        align-item: center;
        gap: 5px;
        width: 100%;
        border-left: 0px;
        border-bottom: 2px solid yellow;
        margin: 0 auto;
        background-color: rgb(243, 238, 238);
        text-align: center;
    }

    .unid {
        font-size: 16px;
        width: 100%;
        color: black;
        font-family: var(--fontThree);
        text-decoration: none;
        padding: 0px;
    }

    #artOne {
        grid-area: article;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }

    #artTwo {
        grid-area: article2;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto;
    }

    #divLinks {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 75%;
        padding-bottom: 15px;
        margin: auto;
    }
    
    .divLinks {
        border-radius: 35px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid gray;
        text-decoration: none;
        color: black;
    }

    #artThree {
        grid-area: article3;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto;
    }

    #artFour {
        grid-area: article4;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto;
    }

    #artFive {
        grid-area: article5;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto 0 auto ;
    }



}

@media (max-width: 600px){

    #navegação_header {
        margin-top: -1000px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        width: 100%;
        transition: .2s;
        z-index: 1;
        background-color: #eff3f3; 
    }

    

    .linkHeader {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid black;
    }

    #btnMenu {
        display: block;
        max-width: 50px;
        max-height: 50px;
    }

    #secOne {
        display: grid;
        grid-template-areas:
        "aside" 
        "article"
        "article2"
        "article3"
        "article4"
        "article5";
        width: 100%;
        height: auto;
        padding: 0px 5px;
        margin: 60px 0px;
        border-top: 2px solid gray;
    }
    
    #lista {
        grid-area: aside;
        display: flex;
        flex-direction: row;
        align-item: center;
        gap: 5px;
        width: 100%;
        border-left: 0px solid gray;
        border-bottom: 2px solid purple;
        margin: 0 auto;
        background-color: rgb(243, 238, 238);
        text-align: center;
    }
    
    .unid  {
        font-size: 16px;
        width: 100%;
        color: black;
        font-family: var(--fontThree);
        text-decoration: none;
        padding: 0px;
    }
    
    .unid:hover {
        background-color: darkgrey;
        cursor: pointer;
        color: white;
        text-shadow: 0px 0px 2px black;
    }
    
    #artOne {
        grid-area: article;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }
    
    #artTwo {
        grid-area: article2;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px auto;
    }

    #artThree {
        grid-area: article3;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto 0 auto ;
    }

    #artFour {
        grid-area: article4;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto 0 auto ;
    }

    #artFive {
        grid-area: article5;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        margin: 45px auto 0 auto ;
    }



    #footer {
        width: 100%;
        height: auto;
        border-top: 5px solid cyan;
        box-shadow: 0px 1px 15px #00000067;
        padding: 25px 0 0 0;
    }
    
    #footerDescrição {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
        margin: auto;
        width: 90%;
        text-align: center;
    }

    #socialMedia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid gray;
        padding: 15px;
        position: relative;
        margin-bottom: 15px;
    }
    
    #socialWrapper {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    
    .imgFooter {
        width: 35px;
        cursor: pointer;
    }

    #divLinks {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-bottom: 15px;
    }
    .divLinks {
        border-radius: 0;
        padding: 0px;
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: black;
    }
}
